<!DOCTYPE html>

<html>

<head>
    <title>Stebkali-weather | Home</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Almost accurate weather and Geo results | Timapereka zosatira za nyengo la dera lomwe mukufuna</p>
        <p>Enter location to search | lowetsani dzina la dera mukabokosi kali mmusika</p>
        <form>
            <input id='search' placeholder="type location">
            <button>Find</button>
        </form>
        <p id ='msg1'></p>
        <p id = 'msg2'></p>
    </div>
      
    {{>footer}}
</body>
    <script src="/js/app.js"></script>
</html>